:root {
  --bg: #f4f3f9;
  --fg: #0f172a;
  --muted: #64748b;
  --card: #ffffff;
  --border: #e2e8f0;
  --topbar-bg: var(--card);
  --brand: #2563eb;
  --brand-2: #1e40af;
  --danger: #ef4444;
  --danger-2: #b91c1c;
  --secondary: #475569;
  --shadow: 0 4px 18px rgba(0, 0, 0, .06);
  --radius: 42px;
  --font-sans: 'Figtree', sans-serif;
  --text-brush-color: #1e293b;
  --overtime-color: #f97316;
  --gradient-start: #06b6d4;
  --gradient-mid: #2563eb;
  --gradient-end: #10b681;
}

* {
  box-sizing: border-box;
}

*, *::before, *::after {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

html {
  /* ADICIONADO: Habilita a rolagem suave em toda a página */
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  color: var(--fg);
  background: var(--bg);
  
  /* NOVO: Impede a seleção de texto na interface */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;
}

/* NOVO: Permite a seleção de texto DENTRO de campos de formulário e inputs */
input, 
textarea, 
[contenteditable="true"] {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}