@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Dancing+Script&family=Fjalla+One&family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:white;
    width:auto;
    height: auto;
}


/* TOPO */

header{
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #8c1414;
    background: linear-gradient(180deg, rgba(140,20,20,1) 0%, rgba(208,69,69,1) 100%);
}

h1{
    font-family: 'Alexandria', sans-serif;
    text-align: center;
    font-size: 38px;
    color:white
}

header p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.pin{
    width: 16px;
}

.menu{
    height: 27px;
    padding-right: 5px;
}

h3 {
    padding-top: 15px;
    color: white;
    text-align: center;
    font-size: 38px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* TIPOS */

main{
    display: inline;
}

.tipos{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid #000000;
    margin-right: 15%;
    margin-left: 15%;
}

.fotopizza{
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 40px;
}

/* TIPOS */


/* PIZZAS */

.pizzas {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 7px;
    text-transform: bold;
}

h5 {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #717185;
    padding-bottom: 5px;
}

h6 {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #28a967;
    padding-bottom: 5px;
    border-bottom: 2px solid #71718547;
}

h7 {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #28a967;
    padding-bottom: 5px;
}

/* PIZZAS */

footer{
    background: #8c1414;
    background: linear-gradient(360deg, rgba(140,20,20,1) 0%, rgba(208,69,69,1) 100%);
    padding-bottom: 100px;
}

footer p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

footer button{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.bot{
    display: flex;
    position: fixed;
    bottom: 30px;
    left: 60px;
    right: 60px;
    height: 50px;
}

button {
    cursor: pointer;
    font-size:28px;
    text-align: center;
    color: white;
    background-color: #128C7E;
    border-radius: 50px;
    border: 5px solid #075E54;
    width: 100%; 
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}